<h1>Editing Meeting</h1>
<% @activeEdit = true %>
<%= render 'form', meeting: @meeting %>

<%= link_to 'Show', @meeting %> |
<%= link_to 'Delete', @meeting, method: :delete, data: { confirm: 'Are you sure?' } %>|
<%= link_to 'Back', meetings_path %>
